<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "it.blatte.guida"
		version = "1.0.0"
		versionCode = "1">

    <name>Chiave di riconoscimento delle blatte italiane</name>

    <description>
        La app permette di riconoscere velocemente le specie di blatte presenti in Italia. Il lavoro originale è opera di Livio Mola e l'ultima versione online è sempre disponibile su:
		http://www.entomologiitaliani.net/public/forum/phpBB3/viewtopic.php?f=336&t=12949&p=73593#p73593
    </description>

    <author>
        Paolo Veronesi
	</author>
        <icon src="icon.png" />
		<preference name="permissions" value="none"/>
   
<gap:plugin name="com.phonegap.plugins.childbrowser" />
	
</widget>
